body{background-color: #710CE8;}

.card{ margin-top: 10%;}

.card-img-top{
    margin-top: 5px;
    margin-left: 100px;
    width: 100px;

}
table{
    color: whitesmoke;
}
h1,h2,label{
    margin-top: 30px;
    color: whitesmoke;
}
form{
    font-size: 1rem;
}
.table{
    margin: 5px;
}
.img-responsive{
    margin: 0 auto;
}