body
{
    background-color: #a4aaae;

}
.card{
    margin-top: 10%;

}
.card-img-top{
    margin-top: 5px;
    margin-left: 100px;
    width: 100px;

}
h1,h2,label{
    margin-top: 30px;
    color: whitesmoke;
}
form{
    font-size: 1rem;
}
.table{
    margin: 5px;
}